/.travis/
/build/
/examples/
/generate/
/guides/
/test/

# we never want npm installs to build from source. Exclude these 10k+ files from the package.
/include/
/src/
/vendor/

# we do need the libgit2.gyp file though, so node-gyp can run
!/vendor/libgit2.gyp

.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml

!binding.gyp

*.filters
*.log
*.md
*.sln
*.vcxproj
